.home {
  background: url('1758746190604.jpg') no-repeat center/cover;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 0 10px;
}

/* Overlay sombre pour rendre le texte lisible */
.home .overlay {
  background-color: rgba(0, 0, 0, 0.5); /* noir semi-transparent */
  padding: 40px 20px;
  border-radius: 10px;
}

.home h1 {
  font-size: 4em;
  margin-bottom: 20px;
}

.home p {
  font-size: 1.5em;
}

/* Fond lightbox */
#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Image affichée */
#lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

/* Flèches */
.arrow {
  position: absolute;
  font-size: 60px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  user-select: none;
  padding: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.3);
  border-radius: 10px;
  transition: 0.2s;
}

.arrow:hover {
  background: rgba(0,0,0,0.6);
}

.left { left: 20px; }
.right { right: 20px; }
